[2015-04-09 20:45] isislovecruft opened #17 "Sanitise incoming bridge_reachability reports for bogus bridge data"
It seems that someone¹ ran ooni-probe's bridge_reachability test with an input list of a bunch of pastebin and source code/git hosting sites. This caused the charts on https://beta.chokepointproject.net/measurements/tor-bridge-reachability#Bridge_explorer to have a bunch of URLs in the "bridge select" dropdown.

![2015-04-09-203034_1280x800_scrot](https://cloud.githubusercontent.com/assets/907241/

[2015-04-10 08:17] hellais commented on #17
I believe the report is this one: http://pipeline.infra.ooni.nu/CA/bridge_reachability-2015-04-03T183901Z-AS812-probe.yamloo.gz

[2015-12-03 16:46] hellais opened #5 "Refactor luigi pipeline to use luigid"
Currently we have a lot of indirection due to the use of pyinvoke and are due to the fact that we don't invoke the pipeline tasks using luigi, but instead wrap them in our own `run()` method that in turns created a `luigi.Worker` and then schedules them.

We should instead refactor the pipeline to call luigi directly and use the luigid scheduler.

[2016-02-08 17:51] hellais commented on #5
This has been implemented and is now part of master.

[2016-02-08 17:51] #5 closed, assigned to nobody

[2016-05-15 17:26] anadahz opened #25 "Add blockpage and middlebox fingerprints for India"
A different type of block page detected blocking piratebay:
`The Page You are Looking for has been blocked`,
https://explorer.ooni.torproject.org/measurement/7AEt2OwqdZUzFMzyZd3bFwnCwXp7FqYCezpaoBWdkBIfxtLtX84mXBZnlPLaTUqI?input=http:%2F%2Fthepiratebay.se

This depends on ooni/backend#688 .

[2016-05-17 00:28] anadahz opened #26 "Add Russian block page detection fingerprint"
Ref: https://explorer.ooni.torproject.org/measurement/fDYllw7vRf71n2l4g2V2ahIlPxmd6nrpsjWemcJDWX1UDN0AT5Z5uBh4HhAdFdGB?input=http:%2F%2Fthepiratebay.se%2F

This task depends on ooni/backend#688 .

[2016-06-02 04:26] anadahz opened #27 "Find a way to minimize the workload generated from invalid submitted reports"
We should find a way to process non correctly formatted or invalid reports that are saturate the processing power of the pipeline.
If we decide to discard these reports we should do it in a smart way to counteract any potential collateral damage i.e, not processing reports from a whole country.

[2016-06-08 12:45] anadahz opened #28 "Run a pipeline workflow for the unprocessed GB reports"
A similar [workflow](https://github.com/TheTorProject/ooni-pipeline#daily-workflow) should be run on the pipeline to process the older (before 2016-06-07) and archived ooni-probe reports for GB.

[2016-07-06 18:50] hellais opened #32 "Redesign the data processing pipeline"
We should write a design document for how the next iteration of the data processing pipeline.

This design document should feature:
- How data is ingested into the pipeline (how is data published to it, how does it fetch data from third parties)
- What are the various data processing stages that it should go through
- How it is analysed and post processed for being consumed by the explorer
- What

[2016-07-06 18:55] hellais opened #33 "Define data formats for interoperability of data from different platforms"
We should have a guideline of how data should be structured and formatted in order to be injested into the ooni-pipeline.

At the bare minimum we should include:
- What is the data format of the files to be processed (http://jsonlines.org/?)
- What are some semantics for the minimum set of elements to be present inside of the documents

I think we should be covering the following types of measurem

[2016-07-10 21:39] willscott commented on #32
Airflow looks like it can help organize a bunch of the complexity in the current structure! The design points to make sure we can do cleanly should include:
- How does a submission get into the pipeline? If we have a web hook for submission, can that go in a message queue? what does that ingestion look like?
- If we want regular incremental updates, how well does airflow do? we'll eventually want

[2016-07-10 21:43] willscott commented on #33
Agreed. What's the right place for this to live? It would be great to have a wiki that the different efforts in this space can contribute the keys they're using, along with the specification and examples.
- A page on ooni-web could work, though it won't be as easy for others to update
- Documentation of the basic formats seems to fit most naturally in ooni-spec
- The complementary data seems to mo

[2016-07-21 23:02] ghost commented on #32
@hellais @willscott: to expand on this a little bit, I can definitely see how Airflow's trigger / hook / sensor routines could be used to improve the overall flexibility of `ooni-pipeline`.

Pros:
- Apache Airflow provides its own schedule which opens up the possibility of autonomously triggering time-based jobs (e.g. back-up, archival, and reporting);
- Apache Airflow provides sensors, hooks, and

[2016-08-03 10:38] hellais opened #35 "Add fingerprint for blockpages in MY"
In https://github.com/TheTorProject/ooni-explorer/issues/96 @kaerumy pointed out a blockpage for Malaysia: https://explorer.ooni.torproject.org/measurement/20160802T205955Z_AS4788_3omRbM1JA9BYIMF5O5uiKEsdmUqy4kdunnKn7exzBlM2ebboDh?input=http:%2F%2Fwww.sarawakreport.org.

We should be adding a fingerprint for it to the data processing pipeline.

In more recent times this is done via DNS by resolvin

[2016-08-03 11:59] kaerumy commented on #35
Does a fingerpint need to be added for each verified blocked site? If so should I provide a list known list of Inputs?

[2016-08-03 13:08] hellais commented on #35
@kaerumy only if the blockpages are different, it would be useful though to have a list of the known blocked website if you have that available so I can verify that.

[2016-08-04 11:38] kaerumy commented on #35
@hellais  two more blocked sites confirmed by web connectivity tests
- Medium
  - AS4878 https://explorer.ooni.torproject.org/measurement/20160803T222511Z_AS4788_Pyv6z2tLMnilg00tJmElKqTESkwzoi3U48gdLvm049SpchSek6?input=https:%2F%2Fmedium.com
  - AS4818
    https://explorer.ooni.torproject.org/measurement/20160804T013556Z_AS4818_tJWqtRTFvZQoX7MkH0sO8x51WebyfPHthnPAPWdSns63OughMd?input=https:%2F%2Fm

[2016-08-06 01:18] kaerumy commented on #35
The following on global test lists are also detected by ooni tests and redirected to Malaysia Communications and Multimedia Commission (MCMC) notice page:

Porn:
http://adultfriendfinder.com
http://www.ashemaletube.com
http://www.hustler.com
http://www.livejasmin.com
http://www.sex.com
http://www.worldsex.com
http://xhamster.com
http://xvideos.com
http://youjizz.com

Gambling:
http://www.belmont.a

[2016-08-09 00:45] ghost opened #36 "Allow ooni-pipeline to be run against a set of ooni-probe reports stored locally, or in a public S3 bucket"
Since `ooni-pipeline` is responsible for normalising `ooni-probe` reports which may exist in a variety of formats, it's important to be able to validate the integrity of the pipeline, as well as its outputs. In doing so, we can effectively reduce the costs associated with running the pipeline for development purposes.

In order to accomplish this, we would have to ensure that:
- An instance of `oo

[2016-08-12 14:13] anadahz commented on #35
I'm not sure what what would be an accurate fingerprint for the blockpage, at first I thought about this:
`Laman sesawang ini tidak dapat diakses di Malaysia` but after a quick search it seems that it triggers a number of false positives.

It seems that the blockpage in [AS4788](https://explorer.ooni.torproject.org/measurement/20160803T222511Z_AS4788_Pyv6z2tLMnilg00tJmElKqTESkwzoi3U48gdLvm049SpchS

[2016-08-19 01:59] kaerumy commented on #35
This fingerprint will also fail if the test url includes additional page specific url and not just the domain. In this case, you will get a 404 from that server because, the notice server is badly configured. You will also get 404 if they haven't configured the vhost yet on newly added domains.

What is common however so far on 3 ISPs and 4 networks (3rd ISP tests for Malaysia should show in today

[2016-08-19 14:45] anadahz commented on #35
The 404 errors will be cached by the pipeline's filter http-diff (as in your example).
However since this is a very common _bad_ practice to break the internet without the user even realizing that is censored it makes sense to create a global filter for that enumerates http-diff blockages with 404 errors.

Using the IIS/8.4 and ASP.NET headers will trigger a big number of false positives.

[2016-08-22 03:19] kaerumy commented on #35
What I mean is that the following query:

ip: 175.139.142.25 AND headers: {Server: Microsoft-IIS/8.5, X-Powered-By: ASP.NET}

Is unique on 4 different networks, when there is an MCMC notice or 404. The block directive on how to block sites seems to be universal across ISPs ie. for X in domain, redirect to 175.139.142.25 which is an IIS/8.5 webserver.

I'm not sure how the fingerprinting works, but

[2016-08-27 03:48] ghost opened #40 "Determine which serialisation / compression algorithm to use throughout the pipeline"
In order to reduce our data storage requirements, we should make use of compression as long as the benefits of doing so exceed any associated costs. To this end, we need to select a compression algorithm which weighs both the associated compression speed, and compression ratio.

To consider this issue complete, we need to identify:
- [ ] A compression algorithm to be used when submitting data to t

[2016-09-05 10:11] darkk commented on #40
I'd rather avoid **storing** anything in a format tightly coupled with specific language unless it gives us major performance boost. It may be a good baseline, but I'm a bit sceptical about usage of pickle for data exchange in production.

[2016-09-05 17:30] ghost commented on #40
@darkk I agree wholeheartedly. `pickle`/`dill` would only really be advantageous when working with metrics which haven't been normalised, and may not necessarily be JSON / BSON / msgpack serialisable.

[2016-11-22 16:05] darkk commented on #35
Xref: https://github.com/citizenlab/blockpages/pull/1 — where I mined MY blockpage from the data.

[2016-12-05 19:34] hellais commented on #40
I ran some benchmarks on the ooni-datacollector machine with the goal of identifying a good serialisation format for long term storage.

https://gist.github.com/hellais/c3914475331a313266c3f51e49bd287d

These results seem to indicate that lz4 could be a good option.

[2016-12-05 19:40] hellais opened #49 "Define queries for data analysis"
This entails coming up with the list of questions that should be answerable based on the processing of measurements data with the redesigned ooni-pipeline.

[2017-01-29 20:03] darkk commented on #40
There are some more notes on compression and serialization I've gathered while passing some smoke through the pipeline.

tl;dr: `tar` small files — save IOPS, compress tarred — save bandwidth & space, read blocks not lines — `tarfile` line-by-line reading code is slow.

First, LZ4 [does not currently implement](https://github.com/lz4/lz4/blob/v1.7.4.2/lib/lz4frame.c#L873) checksums for **compresse

[2017-01-30 15:34] darkk commented on #32
Birdeye view of the dataflow (to be stored in ooni-pipeline/docs/ later).

Infra
=====

Datastore is currently filesystem-based, but all code is written in streaming way to make migration to objectstore easier.

Airflow is "smart cron" manager, airflow is deployed with docker. Exact recipe is based on [puckel/docker-airflow](https://github.com/puckel/docker-airflow/) and some crutches overlayed on

[2017-04-04 21:11] darkk opened #55 "Make bucket_name=${execution_date} again!"
Seems, `generate-streams-import-in-db.sh` introduced a regression:

Before: ${bucket_name} reflects _beginning_ of the day when the reports came
After: ${bucket_name} reflects beginning of the _next_ day after the reports came

![delta-canned.png](https://cloud.githubusercontent.com/assets/21046/24678151/1dd03a02-1992-11e7-9f2d-4ae11b053451.png)

I consider _fixing_ that regression, so ${bucket_na

[2017-04-05 15:59] hellais commented on #55
I don't have a problem with any of these side effects and I think it's good to use whatever you would expect the behaviour to be.

[2017-04-05 17:10] hellais commented on #40
I believe we have now settled on using a tar container compressed using lz4, so I think this can now be closed.

@darkk am I correct?

[2017-04-05 18:00] darkk opened #57 "Backup private/reports-raw data to glacier"
Current storage target layout is following:
- `private/reports-raw` in AWS glacier (uncompressed)
- `private/canned` under GH radosgw/s3 (same files as `private/reports-raw` but batched with  `.tar.lz4`)
- `public/autoclaved` under GH radosgw/s3 AND hot read-only spare at AWS S3

[2017-04-05 18:00] darkk commented on #40
Yep.
And `.tar.{gz|bz2|xz}` for cold storage in glacier as `lz4` is not settled yet -- TheTorProject/ooni-pipeline#57
And adding `gzip` to collector, ooni-probe and MK (zlib is part of iOS SDK and Android NDK) as every report is POSTed line-by-line, uncompressed (probably, that deserves some batching and/or keepalive) -- TheTorProject/ooni-backend#106.

[2017-04-05 18:00] #40 closed, assigned to nobody

[2017-04-30 17:15] joelanders opened #59 "Add Romanian blockpage"
DNS for gambling sites points to a page on `213.177.28.90` (which also sends a self-signed cert if you hit it with https).

[2017-05-01 22:26] darkk opened #60 "Ugly escaping of AS names"
On one hand [AS1919](https://explorer.ooni.torproject.org/measurement/20170426T225124Z_AS1916_9iIkKBUGlL25hG8jIdekfDdYzwS6T3IJncAOwtsofMF0X13cyV) is shown as ugly `Associa\195\167\195\163o...` instead of `Associação...`
On the other hand it protects against weird unicode stuff coming from external source.

@hellais what do you think, is it a bug or a feature?

[2017-05-16 15:41] anadahz opened #63 "Add an issue template for reporting false positive/negatives"
A template for issues related to reporting false positive/negatives should be made for the [ooni-pipeline](https://github.com/TheTorProject/ooni-pipeline) repository.

We can then move issues around to another repository if the report is software specific related (eg. ooniprobe, ooniprobe-android, ooniprobe-ios, lepidopter)

[2017-05-27 01:57] anadahz opened #65 "Data missing from ooni-explorer search results"
Some data are missing from the [ooni-explorer](https://explorer.ooni.torproject.org) search results.
For instance the results from the following web_connectivity test report file are missing:
https://measurements.ooni.torproject.org/files/download/20170516T011345Z-CY-AS197792-web_connectivity-20170516T011346Z_AS197792_GRkCdSXa2dhdmp6FKPA7NBftModMSjHrpcOPPWhoixwg3dgUlw-0.2.0-probe.json

[2017-05-30 10:20] tafiti opened #66 "Explorer: Missing blocked websites on 'blocked websites' section on country dashboard"
See this for example: https://explorer.ooni.torproject.org/measurement/20170118T195954Z_AS24757_uOGxu3ZK42YqwvMKTsfbIjiVAiXk6uQpyvmlM9fK4ZnlKLloFt?input=http:%2F%2Fecadforum.com%2F

There are over 40 blocked websites in ET on our test list but they are not listed.

Is it by accident or design?

[2017-06-05 18:10] darkk commented on #65
This report is stored in S3 (obviously).
It's also properly transferred to datacollector box.
The report file is not imported into DB because of postgres being strict about `\u0000` characters in the data. It's [recently introduced](https://github.com/TheTorProject/ooni-probe/commit/582f85501a072dfd8f2f6ebbdb28dd615a8db325#diff-39d69468c9e012e0b520b5ae35fe2074L11) "regression", but the commit shou

[2017-06-08 21:30] anadahz commented on #66
[OONI explorer](https://explorer.ooni.torproject.org) (currently) is showing up blocked websites when the following criteria met:
- An identified fingerprint has been "registered" to the pipeline [block page body fingerprints](https://github.com/TheTorProject/ooni-pipeline/blob/master/pipeline/batch/sql_tasks.py#L11) or the [blockpage header fingerprints](https://github.com/TheTorProject/ooni-pipe

[2017-06-08 21:39] anadahz commented on #59
https://github.com/TheTorProject/ooni-pipeline/pull/67 should close this issue.

[2017-06-08 21:54] anadahz commented on #35
Pushed a pull request with the most common blockpage fingerprint: https://github.com/TheTorProject/ooni-pipeline/pull/68
This fingerprint will detect and show all the ooniprobe reports withn blockpages in [AS4788](https://explorer.ooni.torproject.org/measurement/20160803T222511Z_AS4788_Pyv6z2tLMnilg00tJmElKqTESkwzoi3U48gdLvm049SpchSek6?input=http:%2F%2Fwww.asiasentinel.com), [AS4818](https://explo

[2017-07-25 11:53] hellais opened #70 "measurement_id cannot be trusted"
Since `measurement_id` is generated on the client-side, it cannot be trusted and we should not be using it as a key assuming it is unique. I have found some instances of pathologically broken measurement_id's (where they are basically the same throughout the whole report file) and as such we should be re-generating it server-side.

See this file as an example:

`2017-01-05/20170104T015449Z-PT-AS32

[2017-07-25 11:57] darkk commented on #70
IMHO, we should not call it `measurement_id` then because of ~backward compatibility~ sanity.

[2017-07-25 11:59] hellais commented on #70
Fair enough, in any case this is creating a few issues with the measurement API as this API call is not really working as it should: https://github.com/TheTorProject/ooni-measurements/blob/master/measurements/api/measurements.py#L159

[2017-08-05 04:03] fortuna opened #72 "Access denied on some files"
I've found a number of files in OONI that I don't have access to.

For example:
[code]

Another example: https://s3.amazonaws.com/ooni-public/sanitised/2016-04-22/20160421T054417Z-GB-AS21260-tcp_connect-hgLV2wZB9NaOWWtbO3gPth0bzy3kJabXjLdn3iPJEtc59KTJeXkfqg2uQtgaiIRS-0.1.0-probe.json

I can't find them again by querying the files API anymore, but I think they may be on some random page (see issue

[2017-08-05 04:06] fortuna opened #73 "Out-of-place entries"
There's something wrong with the files API.

If you query for:
https://measurements.ooni.torproject.org/api/v1/files?since=2012-01-01&until=2012-12-31&limit=1000

You will find this out-of-place entry on a `2017-03-11` directory:
[code]

Any idea what's going on?

[2017-08-07 14:26] fortuna commented on #72
FYI, I see the same issue on the file listing on the website:
https://measurements.ooni.torproject.org/files/by_date/2016-04-11

Many links for AS5607 GB are busted.

This is part of a date range that has an unusually high number of reports, which is another sign that something may be wrong with the pipeline:

![image](https://user-images.githubusercontent.com/113565/29030966-bd1b94ce-7b5a-11e7-80

[2017-08-16 08:46] hellais commented on #72
I have looked into it and it appears that there is no file `ooni-public/sanitised/2016-04-22/20160421T054046Z-GB-AS21260-tcp_connect-HMHEzish2yMQ04XuDzGb2sjfZlfcZ26jLWxxuMMSoO17b3Dqee5jvgquDZAUma0h-0.1.0-probe.json` on s3.

I do see however the measurement listed inside of the new beta measurements API here: https://measurements-beta.ooni.io/files/by_date/2016-04-21.

I believe this is due to the

[2017-08-16 08:52] hellais commented on #73
I think the reason why you find this unexpected is that there is that the directories where reports are put into is a bit confusing.

The date for the directory were reports are put into is not actually related to when the measurement was **run**, but is rather the timestamp for bucket when the measurements were **processed**.
What this means in practice is that if I run a measurement today (2017-

[2017-09-04 15:30] darkk opened #75 "Drop `report_files` table from meta db if it exists"
Site-effect from TheTorProject/ooni-measurements#24

[2017-09-07 13:27] hellais opened #76 "Add support for extracting useful "anomaly" information from measurements"
As discussed with @darkk and outlined in other tickets (such as: https://github.com/TheTorProject/ooni-measurements/issues/32), we need to extract some useful information from measurements and present it to end users (via measurement API and the like).

The sorts of information that should be extracted and exposed includes:

* `failure` a boolean value that is going to be true if the pipeline side

[2017-09-10 10:16] darkk opened #77 "[invalid]"
[invalid]

[2017-09-10 10:18] darkk commented on #77
oops, wrong queue

[2017-09-10 10:18] #77 closed, assigned to nobody

[2017-09-10 15:42] darkk commented on #76
Here are some regular queries regarding measurements that should be supported:
- confirmed cases of censorship, to show them in explorer
- unknown anomalies, to triage them and, possibly, extend methodology
- all anomalies (known and unknown), to give some estimates on anomalies while producing report (e.g. poor-man throttling detection)
- extra fields, to extend pipeline
- suppressed errors: bad

[2017-09-12 20:18] darkk commented on #76
[code]

`failure` is always true right now because of non-null `residual_no` (that is non-null for a reason, see previous comment).

`label` table is useful to store manual markup of measurements, if trusted human declares some measurement as anomaly, that's useful input that should be stored. It's stored in separate table to ease various updates. It's not content-dependent as pipeline tries hard

[2017-09-12 20:24] hellais commented on #76
Yes this schema looks sane and it's already something I can use to start implementing something. Thanks!

[2017-09-13 08:56] hellais commented on #76
@darkk I have some questions:

* What is `exc integer[]`?

* What is `residual_no`?

* Is there a reason you are defining keys in the other order compared to how they are defined on all the other tables? Example:

[code]

In the above examples the foreign key goes from child to parent, while here it goes from parent to child.

Update: scratch that I guess given that this is a one-to-one (am I righ

[2017-09-13 10:27] hellais commented on #76
Took a first stab at implementing this in here:
https://github.com/TheTorProject/ooni-measurements/pull/31/commits/1b021ceda9da5267f92b4dafa3b27a059c8f469b
https://github.com/TheTorProject/ooni-measurements/pull/31/commits/7400252b3a1a454c674d28910a8d70330e24ad8a

Let me know if I missed something.

[2017-09-19 20:55] darkk commented on #76
`exc integer[]` is array of backtrace hashcodes generated by [`exc_hash`](https://github.com/TheTorProject/ooni-pipeline/blob/cace129189216d66510f7fa921d6d8d80196ffc2/af/shovel/centrifugation.py#L625-L635), the purpose is to catch "most popular" errors without logging them explicitly.

`residual_no` is marker for "schema" of leftover JSON fields that were not touched during processing, schemas are

[2017-09-21 11:24] #59 closed, assigned to nobody

[2017-09-26 15:05] botherder opened #82 "Add blockpage for referendum sites in Catalonia"
As you know, sites and mirrors of sites dealing with referendum in Catalonia are being seized or otherwise DNS blocked.

Here is the content of the blockpage, which seems pretty standard:

```<!doctype html><html><head> <meta charset="utf-8"> <meta name="keywords" content=""> <meta name="description" content=""> <meta name="viewport" content="width=device-width, initial-scale=1.0"> <link rel="shor

[2017-09-26 18:12] hellais commented on #82
Thanks for this!

[2017-09-27 18:17] darkk opened #83 "Cleanup DB schema regarding *_id"
Json `report_id` is `report_id` in DB and API.

Json `id` can't be `id` in DB and API (too ambiguous), but it is. It may becomes `message_id` in DB (and, maybe, API) to mimic [email `Message-ID`](https://en.wikipedia.org/wiki/Message-ID) that's also client-generated and not 100% unique.

Json `measurement_id` does not exist yet, it is created in the pipeline and is sort of GUID, every measurement

[2017-09-29 15:43] hellais opened #86 "Move data proxy from HKG to AMS"
As mentioned in: https://github.com/TheTorProject/ooni-pipeline/pull/62, we should consider if it makes sense to (taken from @darkk comments):

* [ ] Move data proxy from HKG to AMS
* [ ] Split large reports -- no good reason to do that yet
* [ ] verify that 90kb can be really fetched using keep-alive within 1 RTT
  * for i in seq 35; do curl -sS -w 'time_total: %{time_total}\n' -o /dev/null -H 'R

[2017-09-29 15:47] hellais opened #88 "Investigate data mismatches"
Mentioned by @darkk in https://github.com/TheTorProject/ooni-pipeline/pull/62:

* [ ] no sanitiesed data: ooni/private/reports-raw/2016-05-17/20160516T070552Z-GB-AS5607-http_requests-no_report_id-0.1.0-probe.yaml
* [ ] outliers -- measurements with 13mb of COMPRESSED data, 2014-11-22 with ~1M measurements
* [ ] 2017-02-14 bucket has no "benign mismatches" log stored, consider recomputing
* [ ] par

[2017-09-29 15:48] hellais opened #89 "Improve pipeline infrastructure"
Mentioned by @darkk in https://github.com/TheTorProject/ooni-pipeline/pull/62:

* [x] set up AMS replica of HGK metadb
* [x] ntp and poweroff safety, TheTorProject/ooni-sysadmin#101
* [x] consider backups / replicas of metadata DBs

[2017-09-29 15:50] hellais opened #90 "Massage data in new pipeline"
Mentioned by @darkk in https://github.com/TheTorProject/ooni-pipeline/pull/62:

* [ ] scripts to manage redundant copies of data in Amazon S3
* [ ] check mismatches between sanitized and autoclaved
* [ ] re-run whole pipeline as shovel:0.0.6 had a bug possibly producing duplicates at features table on two successful executions of centrifugation.py with same arguments (no idempotence here)
* [ ] ch

[2017-09-29 15:52] hellais opened #94 "Shutdown legacy luigi pipeline"
Finally deprecate the legacy luigi pipeline and rely only on the airflow based one.

Mentioned by @darkk in https://github.com/TheTorProject/ooni-pipeline/pull/62

[2017-10-17 11:37] darkk opened #99 "smoke-test schema updates & rollbacks"
Seems, we should have way to ensure that sql files are typo-free:

[code]

[2017-11-09 12:42] hellais opened #103 "Support filtering for all test_names"
Currently DASH data is not added to metadb because the ENUM does not include dash as a supported test.

[2017-11-09 12:46] darkk commented on #103
Looks like a bug, alike measurement should be ingested but have `NULL` instead of correct ENUM value.

[2017-11-09 12:49] hellais commented on #103
Yes you are right, they are ingested (as I confirm by running: `SELECT * FROM report WHERE report.textname LIKE '%dash%' AND probe_cc = 'US' LIMIT 10;`), however they should have the `test_name` column set otherwise they will not be searchable by the API or easy to filter for.

[2017-12-05 20:05] hellais opened #109 "Generate daily dumps for ooni-explorer"
Currently in a fairly ad-hoc way I generated some static dumps for use by ooni-explorer.

We should ideally integrate this into the pipeline so that it is run on a daily basis when measurements are ingested.

In here the code snippet:

[code]
Edit: Updated with the latest version of the script.

[2017-12-05 21:51] hellais commented on #109
I needed to make some changes to the `blockpage_count` dump (to keep the file sizes down) and will edit the above comment to reflect the final script.

[2017-12-05 22:08] hellais opened #110 "Add batch archival task to ooni-pipeline"
I would suggest once per week (or maybe less, just to give time for my NAS to sync the raw measurements) we have a process that automatically creates a `.tar.gz` of the raw measurements in s3 and deletes the last week/days worth of measurements.

The following script can be a good starting point:

[code]

[2018-01-02 11:09] hellais commented on #103
I suspect the same thing is happening with test_name=telegram

[2018-02-04 21:23] darkk commented on #110
Unfortunately the last file `YYYY-MM-DD.tar.gz` file that is mentioned in _transcript-archive-*_ files those are uploaded to AWS S3 is `archives-raw/yaml/2017-01-30.tar.gz` and the corresponding `transcript-archive` file is truncated, so I consider transcripts unusable.

I'm not sure if it's safe to say that all tarballs in archives-raw were created properly and are not truncated and such. OTOH, t

[2018-02-06 17:04] darkk commented on #110
Following buckets have some inconsistencies:

- 2016-03-17 ~ 5 files lost in `canned`
- 2016-03-18 ~ 32 files lost in `canned`
- 2016-03-31 ~ 1417 files lost in `canned`, all of them are from GB country code
- 2016-04-17 ~ 1 `KR` file is truncated in `reports-tgz` (1586 bytes instead of 1701 in `canned`)
- 2017-02-12 ~ `reports-tgz` archived extra temporary file from `rsync`

Also 2017-01-31 and 2

[2018-02-07 21:02] darkk opened #113 "Enrich reports having IP address with geoip during (re-)ingestion"
If the user has submitted his IP address, there should be some AS number (and CC?) attributed to that measurement at metadb level as it's likely just a query_geoip() failure. E.g.

[code]
or
[code]

[2018-04-24 10:55] hellais opened #115 "Add fingerprints for russia"
Here are some blockpages found in Russia to add to our fingerprint db:

https://explorer.ooni.torproject.org/measurement/20180315T230339Z_AS15378_1OT3ZGTyarLfiET0jYHJZigX2B1oQDdJKdrjkfzq5Zqr30Lvlp?input=http:%2F%2Fqha.com.ua%2F

https://explorer.ooni.torproject.org/measurement/20180315T100250Z_AS6789_KYIQLsidOroJuPSP8DNkM8WFYOwNEAKebucOYOHhr9bwel8Yl3?input=http:%2F%2Fqha.com.ua%2F

The second inte

[2018-05-17 16:18] hellais commented on #115
A DNS based feature for blocked sites in crimea is the following IP:

[code]

source measurements: https://explorer.ooni.torproject.org/measurement/20180315T174422Z_AS12688_7Iy8vwd6JYREOl2E6E1PJnNeCVGVKlORQNYhUJ2tKyiWjaEFkY?input=http:%2F%2Fmaidanua.org%2F

[2018-05-17 16:35] hellais commented on #115
Another blockpage fingerprint for Russia: https://explorer.ooni.torproject.org/measurement/20180315T160455Z_AS8359_t1zebVigtFmS7kxCOCe3P77uClvciZHmKIwutI13x3Wcpe5t9V?input=http:%2F%2Futronews.org

[2018-05-31 12:32] anadahz opened #117 "Fasle negative report - TR fingerprint"
I guess this report should be tagged with DNS blocking:
https://explorer.ooni.io/measurement/20180403T183403Z_AS9121_FfHjDmPkC0E5UoU3JMZoXJ2KRrMVyqdeTkHchmGEqAonEU64u4?input=http:%2F%2Fbeeg.com

[code]

[2018-06-29 11:58] hellais opened #119 "Align ootest ENUM type to all existing OONI tests"
Currently we have inside of the UI of OONI Explorer some test_names that are not querable via the ooni-api. For example: `bridget`, `dns_spoof`.

This is due to the fact that `ootest` is defined as an ENUM type and when querying for something that is not part of that ENUM type you end up with an exception of this sort:

[code]

There are probably two ways to address this:

1. Add all the missing t

[2018-07-14 13:04] hellais opened #121 "Add fingerprints for Ukraine"
Here is a blockpage served on a private IP in Ukraine: https://explorer.ooni.io/measurement/20180615T125414Z_AS35362_GaNRQSk6HlZ1Aa2ZD9UoGiIgu3KcLMM5M5yk5dEswhEkIprbnA?input=http:%2F%2Fvk.com%2Fminitrue

[2018-07-23 16:36] agrabeli opened #122 "Add fingerprints for Kyrgyzstan"
Here is a block page served in KG: https://explorer.ooni.torproject.org/measurement/20180126T000430Z_AS8449_pk15Mr2LgOhNOk9NfI2EarhUAM64DZ3R85nh4Z3q2m56hflUGh?input=http:%2F%2Farchive.org

[2018-10-09 15:49] hellais opened #123 "Add sync-test-lists script to pipeline"
We should have a part of the airflow pipeline a stage that synchronises the test lists from the citizenlab/test-lists repo.

This script is currently part of ooni/orchestra and some improvements have been made in this branch: https://github.com/ooni/orchestra/pull/50.

This allows the orchestrate API `urls` endpoint to work, ex: https://orchestrate.ooni.io/api/v1/urls?country_code=IT & https://eve

[2018-10-26 14:41] darkk commented on #123
That's rolled out as https://github.com/ooni/sysadmin/commit/54cf5b7381cf8788cdcd9a349a43fcd550ab05e1 in PR https://github.com/ooni/sysadmin/pull/234
I believe, it's okay to maintain `sync-test-lists` in `ooni/orchestra` tree and I see no strong reason to move it here till the moment when we'll need category codes in the metadata DB (e.g. to build "auto-generated report" or respond with that data

[2018-10-26 14:41] #123 closed, assigned to nobody

[2018-11-01 14:11] Sea-n opened #125 "Fasle positive report - Telegram"
It will report **Web version of Telegram** as blocked
![screenshot_20181101-220253](https://user-images.githubusercontent.com/10102616/47856406-1b1deb00-de22-11e8-9d2f-0e404da15f42.png)

I think it's caused by [404 Not Found](http://149.154.175.50/) and [501 Not Implemented](http://149.154.167.51/) in API, which should not use **HTTP GET** to test
![screenshot_20181101-220339](https://user-images.

[2018-11-01 16:49] darkk commented on #125
Yes, looks like false positive to me.

Telegram Web (and telegram app) are actually working for you , right?

Thanks for `id`, it'll help to reference the measurement when it'll be ingested (at midnight).

[2018-11-01 17:26] Sea-n commented on #125
@darkk Yeah, my country (Taiwan) should have no limit to Telegram

[2019-01-10 00:49] hellais opened #131 "Add fingerprint for South Korea"
Here is an example of a south korea fingerprint for thetorproject.org: https://explorer.ooni.io/measurement/20181204T023538Z_AS4766_Q7tnDXKYbZxJAArIYzQwgd4y91BDuYsPZvA0MrYvUZzEVX6Olz?input=http:%2F%2Fwww.torproject.org.

Upon closer inspection, this may not actually be a country wide blockpage, but rather just that of the campus of "CheongShim International Academy".

[2019-01-23 20:02] gabelula opened #132 "Migrate the s3 access tokens for the pipeline to the new ones"

[2019-01-23 22:59] hellais opened #134 "Document re-ingestion of data in pipeline"
Checklist:

* [x] Verify that re-ingestion and reprocessing work as expected
* ~[ ] document the procedure at HOWTO level~
* [x] document unexpected side-effects (there are some)

[2019-01-23 23:02] hellais opened #135 "Document how to partially reprocess measurements"
There are times in which we may make some changes to the centrifugation stage and we may want to reprocess a subset of the measurements.

It's useful to document how to do this and update the `Reamde.md` to reflect.

These docs should also include reference to how a "fast path" for some measurements can be achieved.

[2019-01-23 23:09] hellais commented on #132
This has been done. @darkk do you think we need to do anything else here?

[2019-01-28 17:16] darkk commented on #132
That depends.
%subject is done, so I close this ticket, but the ticket that tracks other activities relevant to that migration is https://github.com/ooni/sysadmin/issues/179 and it needs some actions to be done.

[2019-01-28 17:16] #132 closed, assigned to darkk

[2019-02-05 15:14] darkk opened #139 "Pipeline failing on large `input`"
`MeasurementFeeder.close()` fails to [fill `input`](https://github.com/ooni/pipeline/blob/3ba73981a38f92df7bd69fd4babd5c9aafa3e5d3/af/shovel/centrifugation.py#L750-L752) with
[code]

The report is coming from https://github.com/ooni/probe-ios/issues/234.

- [x] limit should be enforced on `input`, single faulty measurement should not stall whole pipeline, it should work in garbage-in-garbage-out m

[2019-02-06 15:48] darkk commented on #139
Okay, it was slightly more interesting than I expected.

First, it's not the _length_ of `input` field that triggers the bug. Following two measurements have `input` of 7869 octets/chars indexed:

- [`temp-id-201014142`](https://api.ooni.io/api/v1/measurement/temp-id-201014142) from [`20180626T110208Z_AS24757_egXtubexsAsYuHHrO4aiQ0K9aIKfuuW2RobfPfbHDEBDN6ZpjN`](https://api.ooni.io/api/v1/measureme

[2019-02-14 12:00] darkk opened #141 "centrifugation unable to reingest file with empty report"
`centrifugation` was failing to re-ingest ~15% of buckets during cleanup. Some of these buckets had an empty report as a part of autoclaved archive.

Alike empty reports may be result of yaml to json conversion: the yaml report header was there, but no measurements we submitted as a part of that yaml file. So the header-only report was converted to empty jsonl report.

Alike reports are [ignored](

[2019-02-15 11:36] darkk commented on #139
I suspected that deletion of `btree(input.input)` is reason of #140, but it's not -- the pathological performance was observed for older buckets as well. That's, maybe, join with residuals consuming the CPU.

Alike issues MAY be triggered in future by `UNIQUE(domain.domain)`, as that field also comes from user input and there are actual alike cases of malformed data, but their length is not pathol

[2019-02-15 11:39] #139 closed, assigned to darkk

[2019-02-15 11:39] #141 closed, assigned to nobody

[2019-02-15 12:07] darkk commented on #135
[Report deletion](https://github.com/ooni/pipeline/blob/master/docs/delete-report.md) is also relevant to this ticket and is documented in the linked note.

[2019-02-22 19:34] darkk commented on #28
I believe, that was done, if those reports were available on datacollector. As far as I remember, GB reports were available.

But, please, correct me if I'm wrong (and that's still relevant) and re-open the ticket.

[2019-02-22 19:34] #28 closed, assigned to nobody

[2019-02-22 19:39] darkk commented on #70
I consider this ticket a duplicate of #48, so I'm closing it.

Also, #48 is half-solved by [OONI OOID](https://github.com/ooni/pipeline/blob/master/docs/ooni-uuid.md). The OONI OOID will eventually be stamped on historical measurements when corresponding part of OONI Collector will be rolled out (stamping OOID on new measurements in unique way).

[2019-02-22 19:39] #70 closed, assigned to nobody

[2019-02-22 19:43] darkk commented on #57
As listed in https://github.com/ooni/sysadmin/issues/179, glacier is not longer considered.
Also uncompressed report-per-object made restore from glacier prohibitively expensive, so it's also not an option.
GH object store story is duplicate of https://github.com/ooni/sysadmin/issues/273

So I'm closing this ticket.

[2019-02-22 19:43] #57 closed, assigned to nobody

[2019-02-22 19:52] darkk commented on #27
IMHO, that's very generic ticket that can never be solved in the pipeline as it's an ongoing process of incident response. So I'm closing it.

I think, incidents (like #139) should be resolved on case-by-case basis.

I think, if the collector has accepted the measurement from the user, than we have some "contract" to give it some "best-effort" service. That is perfectly summarized by "garbage in &

[2019-02-22 19:52] #27 closed, assigned to nobody

[2019-02-22 19:57] darkk commented on #65
Aforementioned `\0` is fixed since 45d12b1a524874658f7a0a41cb135eb2c6a72571.
And the link works :)

[2019-02-22 19:57] #65 closed, assigned to nobody

[2019-02-22 20:11] darkk commented on #55
[FTR](https://github.com/ooni/sysadmin/blob/b9e8e91/ansible/roles/airflow/files/airflow-dags/shovel_jump.sh), that's how it works now.

The ticket was here mostly to document that `${bucket_date}` could mean both edges of the corresponding date in different historical periods.

[2019-02-22 20:11] #55 closed, assigned to nobody

[2019-02-22 20:14] darkk commented on #113
That's duplicate of #85.

[2019-02-22 20:14] #113 closed, assigned to nobody

[2019-02-22 20:52] anadahz commented on #27
I don't remember the exact incident I think that something/somebody was sending one report per URL from UK and this why (?) processing of AS2856, AS20712, AS5607 is ignored.
The relevant line in documentation:
https://github.com/ooni/pipeline/blame/master/docs/readme-2.0.0.md#L205

Perhaps @hellais has more insights on this.
If it helps I can open a separate issue.

[2019-02-22 20:58] darkk commented on #27
Those measurements are not ignored anymore and those measurements do not create significant issues by being treated as first-class dataset citizens.

Moreover, as far as I understand, MK will be sending one report per URL in near future. But @bassosimone knows better.

[2019-02-24 21:45] hellais commented on #27
In the older model of the pipeline, we would start a new job for each report file (we were assuming there were not so many report files) and when some people started submitting 100s of thousands of report files the scheduled obviously got spammed and was not working properly.

As a temporary workaround to this we started ignoring those measurements while we figured how to refactor the scheduler lo

[2019-02-27 21:02] gabelula commented on #135
@darkk Are you working on this one? We need more documentation on this issue.

[2019-02-28 20:52] hellais commented on #109
Here are some more dumps that should probably be part of a daily workflow:
[code]

@darkk do you think they should be a materialised view or just a static JSON which is updated by the pipeline?
If it's a materialised view, I think it would give us more flexibility to support more advanced use cases.

[2019-03-01 11:28] darkk commented on #109
@hellais I think that "view or json" is a false dichotomy. As we've discussed quite some time ago, all decisions on periodic updates of alike data slices make sense only when the UI part is settled as that representation of data exists only for the purpose to support UI with reasonable latency of the queries, time of generation, and time to update of precomputed data. And, as we've discussed, any

[2019-03-08 15:21] hellais commented on #139
@darkk in relation to:

Was this done as part of some commit in ooni/pipeline or ooni/sysadmin? I could not find a related commit in the history.

[2019-03-11 16:14] darkk commented on #139
@hellais you've noticed correctly, there was no such commit. It turned out that: 1. trigram index over `input.input` seems to be enough for the pipeline scripts and the index is maintained anyway, 2. #140

[2019-03-12 08:30] hellais commented on #109
@darkk this is a good point. Based on your comments in here I am thinking that perhaps a good approach could be that of having some fact tables specific for OONI Explorer which get updated when the pipeline ticks with the data from the last bucket.

These fact tables can include some metrics that will then be further aggregated at runtime by querying the OONI Explorer tables.

I have started to ex

[2019-03-13 21:09] darkk commented on #109
Another "cheap" trick that may be useful at some scale for alike data is to "roll" a set of rows those are ALWAYS fetched together. E.g. imagine having a hourly datapoints for some chart but having the minimal fetch granularity of 24 hours (day). In this case single row per day with an array of 24 values may be more performant in some cases due to lower per-row overhead.
But alike tricks need cons

[2019-03-25 13:17] hellais opened #146 "Update the confirmed and anomaly columns as part of centrifugation"
As discussed in: https://github.com/ooni/api/issues/59#issuecomment-475587287

It seems like the `confirmed` and `anomaly` tables are not currently being updated.

I think that for the sake of coming up with an MVP that implements the heuristics present in the current explorer we define:

`confirmed` we saw a blockpage of the country of the measurement for web_connectivity measurements (we don't m

[2019-04-04 12:48] hellais opened #148 "Deadlock while running centrifugation stage of different buckets concurrently"
I encountered this deadlock while running the centrifugation stage on 100+ nodes:

[code]

Discussing with @darkk this he also encountered it, but we decided not to investigate because in any case postgres will be a bottleneck before we run into locking issues.

[2019-04-08 09:52] hellais opened #150 "Document CODE_VER_REPROCESS in centrifugation.py"
In the centrifugation.py script there is a variable called CODE_VER_REPROCESS.

From chatting with @darkk we agreed that it should be better explained and if it's not in fact   CODE_VER_REINGESTION.

[2019-04-17 12:47] hellais commented on #35
According to @kaerumy we should be using as a fingerprint for MY the fact that DNS resolves to the IP `175.139.142.25`.

See:
https://explorer.ooni.io/measurement/20160817T033110Z_AS4788_jk5ghw4QwieT2JOFiIqto9Z2LzCFhP05v3U0sCcaetBr50NxuU?input=http:%2F%2Fwww.sarawakreport.org%2Ftag%2F1mdb

[2019-04-26 13:39] hellais opened #155 "Add blockpage fingeprint for AF"
[code]

Example measurement:
https://explorer.ooni.torproject.org/measurement/20171130T100203Z_AS38742_DmzL8KtUBadHNFU6wchlAgOy7MBwpDH75ZWdNzs0e55ArgFffx?input=http:%2F%2Fhowtogrowmarijuana.com

moved from: https://github.com/ooni/pipeline/pull/154

[2019-04-26 13:48] anadahz opened #156 "Add blockpage fingerprint for CO"
Blockpage fingerprint for Colombia:

[code]

Example measurement:
https://explorer.ooni.torproject.org/measurement/20190114T112310Z_AS262928_N3ChIPo5QSMMZ3qgA25G9QHE55suubZbPPkAfmNLkmOXuh9ZXJ?input=http:%2F%2Fwww.eurogrand.com%2F

[2019-04-26 14:05] anadahz opened #157 "Add blockpage fingerprint for ES"
Not sure if this is a country-wide block, though the headers are showing the presence of Huawei equipment `V2R2C00-IAE/1.0` as in the [Cuban blog post](https://ooni.torproject.org/post/cuba-internet-censorship-2017/#huawei-equipment-in-cuba).

Example measurement:
https://explorer.ooni.torproject.org/measurement/20180523T140922Z_AS12430_ZRebsyxxswrlcQhz1wEs6apHw5Br7FWNc1LenCsVR6Rkl1OCSD?input=http

[2019-04-26 14:26] anadahz opened #158 "Add blockpage fingerprints for IT"
Quite similar to #157 , though here the following header reveals the presence of the [IPCop](http://ipcop.sourceforge.net/) firewall software (if we can trust HTTP headers found on measurements):
` X-Cache: "MISS from ipcop.itas" `

Example measurement:
https://explorer.ooni.torproject.org/measurement/20170216T161517Z_AS203469_NhQfyO3SkGoX5gdyzo1VRQTrZv1HcQgzudlItMI4YxuSUfgLib?input=http:%2F%2Fwww

[2019-04-26 14:31] anadahz opened #159 "Add blockpage fingerprint for MX"
A blockpage fingerprint detected in Mexico.
Perhaps similar infrastructure with #157 and #158 .

Example measurement:
https://explorer.ooni.torproject.org/measurement/20190306T161639Z_AS22908_1iCBIVT3AGu4mDvEtpl0ECfxp1oSw8UYXSg82JFQ1gOIqOvw8y?input=http:%2F%2Fwww.pornhub.com%2F

[2019-04-26 14:33] anadahz opened #160 "Add blockpage fingerprint for PK"
A blockpage fingerprint detected in Pakistan.
Perhaps similar infrastructure with #157 , #158 and #159 .

Example measurement:
https://explorer.ooni.torproject.org/measurement/20180721T184612Z_AS45773_w5kQp1GbCQUbIv3VDzezjxNx1nCt3IaW7WpvrZTNvayksz9FBK?input=http:%2F%2Fwww.xbox.com

[2019-04-26 14:42] anadahz opened #161 "Add blockpage fingerprint for TR"
A blockpage fingerprint for Turkey.

[code]

Example measurement:
https://explorer.ooni.torproject.org/measurement/20170210T045710Z_AS201411_Xu0QrPJeKuNvYdTpTs3Uv9u4usmdcNACeLPi3wtiqxzBtpOLMf?input=http:%2F%2Fwww.365gay.com

[2019-04-27 00:04] anadahz opened #163 "Add blockpage and middlebox fingerprints for AE"
Somebody forgot to change the default template.
Possible blockpage fingerprint for AE.

Example measurement:
https://explorer.ooni.io/measurement/20170423T142350Z_AS0_5EG4lO5Z8KHN2jwbqB5hQqxlC44iXq2A2YCxoASGvY5Z05KrGL?input=http:%2F%2Fwww.foxnews.com

[2019-04-27 00:52] anadahz opened #167 "Add captive portal blockage fingerprints for AT"
Captive portal blockage fingerprints for Austria triggered by the `Barracuda/NGFirewall` middleboxes.

Example measurements:
https://explorer.ooni.io/measurement/20170814T120242Z_AS8447_g6CoCriPHXMWjXJHwZ9kjJmTusVWVPYEsOKOOhF1HLwrHR29hp?input=http:%2F%2Fwww.aleph.to

https://explorer.ooni.io/measurement/20180215T142531Z_AS31543_HutYcy6eALgop44KgGsXAsaF2i7v4feM6DP5vb2hST8nZdmWta?input=http:%2F%2Fan

[2019-04-27 01:08] anadahz opened #168 "Add blockpage fingerprint for BE"
Fingerprint blockpage for Belgium.

Example measurement:
https://explorer.ooni.io/measurement/20171106T080745Z_AS5432_m0LkLhXH3oxwworJZUpHGmPeJV2Abk3TMxr2dz8wu04ziIUAGA?input=http:%2F%2Fguardster.com%2F

tag:`Barracuda (Web Filter)`

[2019-04-27 01:19] anadahz opened #169 "Add blockpage fingerprints for CA"
Add blockpage fingerprint for Canada.

Example measurement:
https://explorer.ooni.io/measurement/20180724T151542Z_AS577_YiqZVd01jKCgmtm4Ixf6z2uzSBcFSsXkeN6NIDjHl1dtWZ6VrX?input=http:%2F%2Fwww.genderandaids.org

tag:`Barracuda/NGFirewall`

[2019-04-27 09:57] anadahz opened #170 "Add blockpage fingerprint for PA"
A blockpage fingerprint detected in Panama.

Example measurement:
https://explorer.ooni.io/measurement/20170302T184253Z_AS11556_LrU69C7D1dqVTi05dMN0jPphf601DuAzMnFBrehfFvR4ccwfoe?input=http:%2F%2Flifestream.aol.com

tag: `BarracudaHTTP 4.0`

[2019-04-27 10:41] anadahz opened #171 "Add blockpage fingerprints for US"
Blockpage fingerprints detected in USA.

Example measurements:
https://explorer.ooni.io/measurement/20171029T080350Z_AS209_xtJYWXrUShSnXnvStZUPWsVpqVhT0hOzR749tbJgzxF9OkR1Bn?input=http:%2F%2Fwww.vanguardnewsnetwork.com

https://explorer.ooni.io/measurement/20180123T210247Z_AS7385_VLsJ9z4UYNZIMUK3Nc4cyaXctKPnnIsxIhuU97X4XWvSAubgZs?input=http:%2F%2Fwww.figleaves.com

tags: `Barracuda/NGFirewall`, `B

[2019-04-27 10:50] anadahz opened #172 "Add blockpage fingerprint for VI"
Blockpage fingerprint detected in Virgin Islands.

Example measurement:
https://explorer.ooni.io/measurement/20171203T130750Z_AS14434_iviy15O0b7YXVRoTMaqS4O0w1w9NfVaOL4l3KoV4Y9mJEq33X0?input=http:%2F%2Fcompany.wizards.com%2F

tags: `BarracudaHTTP 4.0`, `false negative`

[2019-04-27 11:19] anadahz opened #173 "Add malware fingerprint for IT"
A potential malware page located in Italy.

I have the impression that this malware was only available for Windows variants, however this measurement indicates its presence in iOS (`ooniprobe-ios`), maybe tethering?
Perhaps an interesting case @bassosimone ?

Example measurement:
https://explorer.ooni.io/measurement/20190116T180550Z_AS49367_IofqhUpheFl2VhDSutIgRrbIaFz1rh4SWPifn3OxK4njvW1wDq?input=

[2019-04-29 00:22] anadahz commented on #171
A fingerprint for Websense's Forcepoint equipment blockpage.

Example measurement:
https://explorer.ooni.io/measurement/20180406T152727Z_AS39942_lquPnt0vjeXydfleOdSkxyjst6VTiUWb58f3x5qlFKTSlTIQLG?input=http:%2F%2Fflirtylingerie.com%2F

tag: `Forcepoint`

[2019-04-29 00:47] anadahz opened #174 "Add blockpage fingerprint for KW"
A blockpage fingerprint for Kuwait.

Example measurement:
https://explorer.ooni.io/measurement/20170804T144746Z_AS42961_nClauBGJlQ5BgV1lAVD72Gw8omqphSogfCSLAc55zTAdlcpzTA?input=http:%2F%2Fwww.radioislam.org

[2019-04-29 01:03] anadahz commented on #171
A fingerprint for a variant of netsweeper's equipment blockpage.

Example measurement:
https://explorer.ooni.io/measurement/20171129T155619Z_AS11714_vJUMktHjy0cQGKqYqY3fgOQQLVNfnxb1V11fvP6jTXTbbTX60e?input=http:%2F%2Fwww.pandora.com

tag: `netsweeper`

[2019-04-29 11:47] anadahz opened #178 "Add blockpage and middlebox fingerprints for AR"
A blockpage and middlebox fingerprints for Argentina.

Example measurement:
https://explorer.ooni.io/measurement/20170312T225529Z_AS0_hV7ESTIV4phKrhXxhO9NTxc5XrcXsgzPqZzEkYbrSjgPv9Xyor?input=http:%2F%2Fwww.erogeschichten.com

tag: `Cisco-WSA/10.1.0-204`

[2019-04-29 11:51] anadahz opened #179 "Add blockpage and middlebox fingerprints for AU"
A blockpage and middlebox fingerprints for Australia (similar to #178 ).

Example measurement:
https://explorer.ooni.io/measurement/20171106T070150Z_AS9426_z1R8gTMEhKzX69ZVymQrubL1f5FliuHXuFy6Z7TRomXpC5w1jr?input=http:%2F%2Fwww.rollitup.org

tag: `Cisco-WSA/10.1.1-235`

[2019-04-29 13:03] anadahz opened #180 "Add middlebox fingerprints for BR"
Middlebox fingerprint for Brasil.

Example measurement:
https://explorer.ooni.io/measurement/20171206T160707Z_AS10429_4pfvLyNqYHpbLQI9tIpuQr7CPgvOOGaZbbnm7gMIZKdBE4oXJ9?input=http:%2F%2Fcrackspider.net

tags: `Cisco-WSA/9.1.2-010`,`false negative`

[2019-04-29 13:07] anadahz commented on #169
Example measurement:
https://explorer.ooni.io/measurement/20171026T125929Z_AS0_nkYRKqxCJy1PZQ9yBcsFuG61hFzZRYeio3N21CEBwot7MiikfZ?input=http:%2F%2Fwww.schwarzreport.org

tag: `Cisco-WSA/8.8.0-085`

[2019-04-29 13:10] anadahz commented on #169
Example measurement:
https://explorer.ooni.io/measurement/20181010T185819Z_AS5664_EeT6QJ84dSl7QaHu9Dwb5TcByIY2qiGrdtcyZlSFotmQlc53Hg?input=http:%2F%2Fwww.sportingbet.com

tag: `Cisco-WSA/8.5.4-038`

[2019-04-29 13:12] anadahz commented on #169
Example measurement:
https://explorer.ooni.io/measurement/20170604T114135Z_AS852_pZtNoyGV6fO5K97OJwwhM3ShmlWnuxKHLGrWbjSi4omt9KvyIi?input=http:%2F%2Fwww.xroxy.com

tag: `Cisco-WSA/10.1.1-230`

[2019-04-29 13:31] anadahz opened #181 "Add blockpage and middlebox fingerprints for DE"
Blockpage and middlebox fingerprints for Germany.

Example measurements:
https://explorer.ooni.io/measurement/20180312T143953Z_AS3320_Kumlzdy0NSKyLoB0bt9PHKXp4OKItFMuYqMCw4ouQJapQFVUNR?input=http:%2F%2Fwww.hackhull.com

https://explorer.ooni.io/measurement/20170506T130315Z_AS47610_cpNzdaQAx60UxJxEdXh54qBxxEKLexnoPdNam8KDJ181yCbZir?input=http:%2F%2Fspys.ru

tag: `Cisco-WSA/5.0.0`, `Cisco-WSA/10.1.1

[2019-04-29 13:35] anadahz opened #182 "Add blockpage and middlebox fingerprints for DK"
Blockpage and middlebox fingerprints for Denmark.

Example measurements:
https://explorer.ooni.io/measurement/20171121T193103Z_AS41746_lcM0SY6VKKQ9SnL3SUrh6aiH2hgJUkCs1zGtWuEjYTgVHqW7Lz?input=http:%2F%2Fwww.wetplace.com

tag: `Cisco-WSA/9.1.1-074`

[2019-04-29 13:41] anadahz opened #184 "Add blockpage and middlebox fingerprints for FR"
Blockpage and middlebox fingerprints for France.

Example measurements:
https://explorer.ooni.io/measurement/20170213T143932Z_AS57584_U1gMCvIFLNWIKnSrpWTLrN9oewaHiT0DdKjLaT3MiMqnBk3J3U?input=http:%2F%2Fwww.23.org

tag: `Cisco-WSA/9.1.1-074`

[2019-04-29 13:44] darkk commented on #134
I believe that #183 mostly addresses the issue. Unfortunately it's not a HOWTO-level, but checklist-level due to unclear ways to predict pathological performance.

[2019-04-29 13:56] anadahz commented on #25
Example measurement:
https://explorer.ooni.io/measurement/20170915T154832Z_AS55824_qEg9opZCyJqfZJ5qFHWMR390Y1uA6eHw7j6Fx1qtU5EPE4Jnp2?input=http:%2F%2Fwww.http-tunnel.com

https://explorer.ooni.io/measurement/20170331T050949Z_AS55824_HYIy5Ddu5UgfGq8UYBJ8aCkuz6EYAQUivivIYXDMCt6Dr6CCPU?input=http:%2F%2Fwww.babylon-x.com

tags: `Cisco-WSA/10.5.1-296`, `Cisco-WSA/10.1.0-204`

[2019-04-29 14:34] hellais commented on #134
@darkk there are some pending comments on that PR that I would like to have at least be addressed before this is considered closed.

[2019-04-29 14:48] anadahz commented on #163
Example measurement:
https://explorer.ooni.io/measurement/20170509T041918Z_AS5384_fSeP50M6LS3lUhIarj2WhbQNIQS8mKtvhuxEhwJOhgheEL7EsZ?input=http:%2F%2Fanonym.to

tag:  [SG4000](https://online.antlabs.com/downloads/SG%204%20Product%20Data%20Sheet%20-%20r1_6.pdf)

[2019-04-29 16:15] hellais commented on #150
@darkk can you clarify the difference between these two flags?

There is no mention of these flags in the reprocessing doc.

[2019-04-29 16:16] hellais commented on #134
@darkk can you speak about the "unexpected side-effects (there are some)" of reprocessing the measurements?

[2019-04-29 16:19] hellais commented on #135
This is documented inside of https://github.com/ooni/pipeline/pull/183 and those docs are really useful!

Thanks for putting them together.

[2019-04-29 16:20] darkk commented on #150
@hellais can you clarify, what flags do you mean?
There is no such thing as `CODE_VER_REINGESTION`.
As far as I understand `CODE_VER_REPROCESS` is described accurately.

[2019-04-29 16:25] hellais commented on #150
I think this was something that came up when we were chatting about this in person. I recall that when I showed the line of code with `CODE_VER_REPROCESS` in it (see: https://github.com/ooni/pipeline/blob/master/af/shovel/centrifugation.py#L43) you were unsure of the purpose and were wondering if the meaning of this flag was in fact to trigger REPROCESSING of measurements or if i was meant to trig

[2019-04-29 16:27] darkk commented on #134
Some are described in [Preface section of the doc](https://github.com/ooni/pipeline/blob/dbd4ea463efc2137490e18812185b0a7849712b0/docs/reprocess-report.md#preface). I've mainly meant that blunt reprocessing of all the tables would produce lots of unnecessary updates to PG database, so, `code_ver` and `min_compat_code_ver` are introduced.
I've also meant that following _fast path_ and updating meas

[2019-04-29 16:30] hellais commented on #134
As we the howto level tutorial was placed out of scope I think we can consider this issue solved.

[2019-04-29 16:30] #134 closed, assigned to darkk

[2019-04-29 16:34] darkk commented on #150
Yep, I remember that discussion.
I re-read relevant code and, seems, it does not trigger reingestion and everything is named correctly.
The purpose is to have a constant defined as "the oldest possible `CODE_VER` value".
As far as I see, setting the `autoclaved.core_ver` to `0` has no special meaning (unless I'm mistaken).
Maybe, [`UPDATE autoclaved SET code_ver = 1`](https://github.com/ooni/pipel

[2019-04-29 16:36] hellais commented on #150
Excellent, thanks for clarifying that. I think we can consider this issue resolved then.

[2019-04-29 16:36] #150 closed, assigned to darkk

[2019-04-29 17:24] darkk commented on #146
I believe that's done by 5fac5cf96b4c7416f5ab2c4b41f709d3bca0a9b6 at #144, so I'm closing the ticket.

[2019-04-29 17:24] #146 closed, assigned to nobody

[2019-04-29 17:27] darkk commented on #99
That's done by 95dc49e9aaaec3673b3a27ca3cc86df552a52101 since #144, so I'm closing the ticket.
(Rollbacks are not tested, but "rollback" is not 100% existing thing anyway :-))

[2019-04-29 17:27] #99 closed, assigned to darkk

[2019-04-29 17:30] darkk commented on #94
That's done since https://github.com/ooni/sysadmin/commit/b9e8e914d56f1d69e6116ee76ea08208794e444d and https://github.com/ooni/sysadmin/pull/233
So I'm closing the ticket.

[2019-04-29 17:30] #94 closed, assigned to nobody

[2019-04-29 20:00] darkk commented on #36
That kinda happened as a part of #144 and other activities. It's possible to run *.json -> PosgreSQL step locally without privileged access to S3 (but "data normalization step" still needs privileged access to private data).
So I assume that the issue can be marked as a closed one.

[2019-04-29 20:00] #36 closed, assigned to nobody

[2019-04-30 00:18] anadahz commented on #121
Another fingerprint of a block page in Ukraine:
`Location: "http://blocked.triolan.com.ua?refer="`

Example measurement:
https://explorer.ooni.io/measurement/20190228T101440Z_AS13188_LUWIsztkSQlApx6cliGdGzztCM6Hs2MFI3ybFEYuaIG5W8cQS6?input=http:%2F%2Freporter-crimea.ru

[2019-04-30 00:56] anadahz opened #186 "Add blockpage and middlebox fingerprints for VN"
Blockpage and middlebox fingerprints for Vietnam.

Example measurement:
https://explorer.ooni.io/measurement/20130506T043500Z_IBzthJbAAPsdFZQLPrjMbAwlELzGqtabqMatKpBqqBSWnUyQnA?input=http:%2F%2Fwww.sos-reporters.net

tag: `InnGate300`

[2019-04-30 00:58] anadahz commented on #171
Another one.

Example measurements:
https://explorer.ooni.io/measurement/20170504T143706Z_AS16657_2LnvAcQgpCrjBG46Fb5EKr50PIL40W0ppwNcXp9WCCatbPboXK?input=http:%2F%2Fchinadaily.com.cn

https://explorer.ooni.io/measurement/20170411T170124Z_AS46491_ntYaNL2kdnuHFhOpkSgje3aadGsvRW8oadtjIC71DuiX06z4yy?input=http:%2F%2Fwww.exgay.com

https://explorer.ooni.io/measurement/20170915T220312Z_AS22935_6FKfune3

[2019-04-30 01:23] anadahz commented on #171
Another one and possibly a false negative.

https://explorer.ooni.io/measurement/20180914T010619Z_AS11427_d3lligD9zAEneBLYeI8Mt2JUpVBC2y5zFZ1EG3XNLo1smBQa48?input=http:%2F%2Fmoqavemat.ir

tags: `IG3000`, `false negative`

[2019-04-30 02:06] anadahz commented on #158
Another one:
https://explorer.ooni.io/measurement/3N5bdjWAdVjZubaIyAxCCAg0HiZYWfT1YLgz6cI0zRq1XTjHzBmGg49AbRxOGILi?input=http:%2F%2Fwarc.jalb.de

tag: `WebProxy/1.0 Pre-Alpha`

[2019-04-30 02:21] anadahz opened #187 "Add blockpage fingerprint for GR"
A blockpage fingerprint for Greece.

Example measurement:
https://explorer.ooni.io/measurement/20140703T083044Z_xCnGLSGTjBtyHfCTRvswNcQAjkhIwkpDWJrXqyTCjeMVCECmnv?input=http:%2F%2Fwww.royalvegascasino.com%2F

tags: `WebProxy/6.0`, `false negative`, `ZZ`

[2019-04-30 02:25] anadahz opened #188 "Add blockpage fingerprints for GB"
A blockpage fingerprint for Great Britain.

Example measurement:
https://explorer.ooni.io/measurement/20170209T201940Z_AS12576_ycIIuNLw50QemJrxTPWl2vDfkPKjnZktbSY2hI6pU5x0AG8urA?input=http:%2F%2Fwww.asianangels.com

tags: `WebProxy/5.2`, `false negative`

[2019-05-02 18:03] anadahz opened #190 "Add blockpage fingerprint for ID"
A blockpage and middlebox fingerprint for Indonesia.

Example measurement:
https://explorer.ooni.io/measurement/20170826T071505Z_AS24526_40Tlz7tR7m0UVaTRZi5EUtsuAjHnYuAgDlNjkec64t70Tujbo9?input=http:%2F%2Fwww.budweiser.com

tags: `Netcache`

[2019-05-02 18:19] anadahz commented on #188
Another blockpage fingerprint.

Example measurement:
https://explorer.ooni.io/measurement/20160401T061018Z_ehdZlDMzbUsYhYSGSWalmqKnqGIynfVHQhKvocrcKEmFeynXHd?input=Trans500.com

tags: `block.nb.sky.com`

[2019-05-02 18:52] anadahz commented on #180
Another one.

Example measurement:
https://explorer.ooni.io/measurement/20181023T171547Z_AS262318_cr2e8wzvNXORo80y7pOT9iqxLDOaHAboXakfU8qnQkWh50K0cs?input=http:%2F%2Fwww.pandora.com

tag: `Sonicwall`

[2019-05-02 19:02] anadahz opened #191 "Add blockpage fingerprint for CH"
A blockpage fingerprint for Switzerland.

Example measurement:
https://explorer.ooni.io/measurement/43xnHPgN3gi0kt6EhmF2VbIOfQSV5CN9TXicU0A5ChlYejSGjT24Y1noM2DJgdk8?input=http:%2F%2Fwww.wetplace.com

tag: `Squidguard`

[2019-05-05 12:33] anadahz commented on #188
Another one.

Example measurement:
https://explorer.ooni.torproject.org/measurement/20181118T215552Z_AS12576_LXCqBnsH90yHeMcE6LNDYwOl6IHnop0dTroWxA5NE7AhJ8vFn9?input=http:%2F%2Fwww.globalfire.tv

tag: `http://myaccount.ee.co.uk/anonymous-content-lock/`

[2019-05-05 13:01] anadahz commented on #171
Another one:

https://explorer.ooni.torproject.org/measurement/20170628T182856Z_AS25605_Lev8VClbbZplNkYfBGujzPiKFI7rHxERx9SNwOfuR1M8WCTBSZ?input=http:%2F%2Fwww.aceshigh.com

tag: `alert.scansafe.net`

[2019-05-05 17:35] anadahz opened #193 "Add blockpage fingerprint for EG"
A blockpage fingerprint for Egypt.

Example measurement:
https://explorer.ooni.io/measurement/20171126T053414Z_AS36992_8F2afEp0cM9V7Who1mEJUpqX2fGVbvgoZ2DfVGi3Nv3lQzypzV?input=http:%2F%2Fkh-press.com

tags: `notification.etisalat.com.eg`

[2019-05-05 17:51] anadahz commented on #179
Another blockpage fingerprint and a false negative match.

Example measurement:
https://explorer.ooni.io/measurement/20180125T012951Z_AS0_gyX2DUR5Q1W5V7gAlvUwnnEAH5tbEkEexlUu5qO8ZphH2uEjk6?input=http:%2F%2F8thstreetlatinas.com

tags: `false negative`, `ZZ`, `www.webscanningservice.com`

[2019-05-05 17:58] anadahz opened #194 "Add blockpage fingerprint for PH"
A blockpage fingerprint for Philippines.

Example measurement:
https://explorer.ooni.io/measurement/20180114T101054Z_AS0_SptN5g552QQ9wpfhEBsOTeuOkrpYOQgCBc4JQXNy9GFGxarbEf?input=http:%2F%2Fhightimes.com

tags: `surfalert.globe.com.ph`, `ZZ`

[2019-05-05 18:08] anadahz commented on #181
Another one.

Example measurement:
https://explorer.ooni.io/measurement/20190113T190405Z_AS60068_P7XDllvakD4djyFssTl9xVyVJI5bxSVl6mCxsGFsPLd94ohP8U?input=http:%2F%2Foccupystreams.org

tag: `blocked.netalerts.io`

[2019-05-05 18:40] anadahz commented on #25
Example measurement:
https://explorer.ooni.io/measurement/20180723T000524Z_AS135201_lOpTIwn8aK4gWsbfmV9v3hlTy3ZKVYHRIA8dNBAafTxmFa6hVP?input=http:%2F%2Fwww.xbox.com

tag:`GoAhead-Webs`

[2019-05-05 18:44] anadahz commented on #180
Example measurement:
https://explorer.ooni.io/measurement/20180220T211731Z_AS53088_hBULQ0NRrcPjUkuf1s4aauypxFZvLqfnVvb0kGVzp7QZ9pJYYD?input=http:%2F%2Fwww.pornhub.com%2F

tag: `GoAhead-Webs/2.5.0`

[2019-05-05 18:54] anadahz commented on #115
Another one:
https://explorer.ooni.io/measurement/20181229T072204Z_AS39289_xlYTdPez910QvwBFCYyD3sgv0hQq1WBgbhW3lMjIs3MVMUdGtg?input=http:%2F%2Fblackberry.com

tag:`http://89.185.75.227/451/`

[2019-05-08 10:00] anadahz commented on #188
Example measurement:
https://explorer.ooni.io/measurement/20181120T092944Z_AS199335_6V7Di7t3qUP7qVBYDlOHo9nxgle5NMQIDGHV50wtmCLuZTVPzU?input=http:%2F%2Fwww.microsofttranslator.com

tag: `Lightspeed Content Filter { 40Gb Edition }`

[2019-05-08 10:15] anadahz commented on #188
Another blockpage:
https://explorer.ooni.io/measurement/20170605T124503Z_AS0_eVo3z6wXAYDVrAZDsgqiM7pPlLuKR7l4zNF8oEUrGmZ62HWU4l?input=http:%2F%2Frockettube.com

tags: `https://account.nowtv.com/broadband-buddy/blocked-pages/`, `geoip`

[2019-05-08 10:25] anadahz commented on #179
Another one:
https://explorer.ooni.io/measurement/20171119T095401Z_AS1221_sSYzvupLp9kaEiQiBBS4nlqpHzsO59Eh5SIyp60Z83ah5uRXtM?input=http:%2F%2Fwww.twistedinternet.com

tag: `go.telstra.com.au/broadbandprotect/networkprotectionstandard?originalURL`

[2019-05-08 10:32] anadahz commented on #194
A blockpage/paywall:
https://explorer.ooni.io/measurement/20171014T140144Z_AS10139_gQG3LIHnMZH3IsSJuPmMlLM8qDj3kKfHxJJGyPblDQ1AOFFyBX?input=http:%2F%2Fwww.bittorrent.com

tag: `http://cube.sunbroadband.ph:8020/balanceToOffer/init`

[2019-05-08 10:38] anadahz opened #195 "Add blockpage fingerprint for SG"
A blockpage fingerprint for Senegal.

Example measurement:
https://explorer.ooni.io/measurement/20170905T231542Z_AS9874_3TJ6zyJeL17MVkTArLLsVfDxuMEPzfWB2rm4UbxiDuwtSiuNf3?input=http:%2F%2Fwww.playboy.com

tag: `http://www.starhub.com:80/personal/broadband/value-added-services/safesurf/mda-blocked.html`

[2019-05-08 10:46] anadahz commented on #188
Another one:
https://explorer.ooni.io/measurement/20180127T090022Z_AS5378_NK5M8lt6WbL1LOdiIooPX5PXla2DQDlAkGIK4HimIWbUpoMlj8?input=http:%2F%2Fwww.imageshack.us

tag: `www.vodafone.co.uk/contentcontrolpage/vfb-category-blocklist.html`

[2019-05-08 10:50] anadahz commented on #188
Another one:
https://explorer.ooni.io/measurement/20190203T142614Z_AS60339_PIMtdDSw9QEc2C9hDgA8tx5LZDrdmUP8ZFsSkdGRX2QNnisqaM?input=http:%2F%2Fwww.peacefire.org%2Fcircumventor%2Fsimple-circumventor-instructions.html

tag: `http://three.co.uk/mobilebroadband_restricted`

[2019-05-09 20:50] anadahz commented on #171
https://explorer.ooni.io/measurement/20170722T013346Z_AS14340_QXOwhyfxJUPRGWsCqanoOycTnbHcpU4CW3NBNXUMMbxbi3Q6I3?input=http:%2F%2Fwww.blubster.com

tag: `http://184.168.221.96:6080/php/urlblock.php`

[2019-05-09 21:02] anadahz opened #196 "Add blockpage fingerprint for CL"
Add a blockpage fingerprint for Chile.

Example measurement:
https://explorer.ooni.io/measurement/20170413T224353Z_AS0_Izup11aUZt39zCD1TSFUC1uvOmg7tO1bhwRHWEYsk2WgNrgObZ?input=http:%2F%2Fshareaza.com%2F

tag: `Kerio Control Embedded Web Server`, `geoip`

[2019-05-09 21:06] anadahz commented on #171
https://explorer.ooni.io/measurement/20181118T123404Z_AS7922_pgeD0Ka5ySsyl55RBYXO07V82WoH0uggCYFJsvlcp2d55Tju3i?input=http:%2F%2Fwww.acdi-cida.gc.ca

tags: `https://gateway.wifast.com:443/wifidog/login/?gw_address`, `Hughes Technologies Embedded Server`

[2019-05-09 21:09] anadahz commented on #184
https://explorer.ooni.io/measurement/20170213T102635Z_AS15557_9Z8MxApbDh5RtXUqLL16sYyY5tXWlvYkqSa7YVmSlCTn8KKjP8?input=http:%2F%2Fpornhub.com

tags: `/cgi-bin/welcome.cgi\"></HEAD><BODY></BODY></HTML>`, `Embedded HTTP Server`

[2019-05-10 00:52] anadahz commented on #184
https://explorer.ooni.io/measurement/20170404T230752Z_AS5511_PuuUMPTRZ3UawVdvAkFnnaMFzLJ9eMspdsrN6qs2ZVJBKlzKwD?input=http:%2F%2Fwww.pornhub.com%2F

tags: `HTTP Server 1.0`, `Huawei Eudemon1000E-X3`

(Could be this middlebox: https://support.huawei.com/enterprise/en/security/eudemon1000e-x3-pid-8577681/software)

[2019-05-10 01:41] anadahz commented on #171
https://explorer.ooni.io/measurement/20190205T191943Z_AS26638_QbFGhgqZ8sqXmCQrZNrNgB0RWB6EUfjFYPbKYOgaihiWLv5xNb?input=http:%2F%2Ftwitter.com%2F

tag: `https://mpswebfilterwashbu.mpls.k12.mn.us:6082/php/uid.php?vsys=1&rule=1&url=http://twitter.com%2f`

[2019-05-10 02:10] anadahz commented on #188
https://explorer.ooni.io/measurement/20170404T062436Z_AS60339_QJa9jOkZrduHeY2fH5oQmChKFtqwM1RzB3RG2AAjE1IMDMXp59?input=http:%2F%2Fwww.naughty.com

tag: `WebLogic`

[2019-05-21 15:08] #135 closed, assigned to nobody

[2019-05-30 13:25] darkk commented on #86
That is probably not relevant and should be closed as `dataproxy` idea is currently dead.

[2019-05-30 14:07] darkk commented on #89
All of that is done some time ago and the issue should be closed.

[2019-05-30 15:52] darkk commented on #103
That should be probably closed as a duplicate of #119 (having more precise description).

[2019-05-30 16:29] darkk commented on #110
I believe the issue should be closed. The cleanup that is needed is #197.

[2019-05-30 16:31] #83 closed, assigned to nobody

[2019-05-30 16:33] darkk commented on #83
Various `id`s were described in https://github.com/ooni/pipeline/blob/master/docs/ooni-uuid.md
DB column `measurement.id` mimics json `.id` field (that is UUID), but it's not part of API. It's probably okay.

[2019-05-30 16:42] darkk commented on #109
It's unclear to me if this ticket should be kept open as it currently has no pending actions. I'd suggest to close it and write further needed actions in a follow-up one.

[2019-05-30 16:50] darkk commented on #90
There are some mismatches still left, but they're minimal and it was considered (long time ago) that those are irrelevant.

Everything else was done as a one-shot (natural/left joins have actually caught an interesting case of an empty report: 220417f8aa57360fcb94eae2e1d6caf7d48a36b2). Maybe there should be some monitoring code comparing the number of reports & measurements submitted to collector

[2019-05-30 17:39] darkk commented on #72
Both `2016-04-22/20160421T054417Z-GB-AS21260-tcp_connect-hgLV2wZB9NaOWWtbO3gPth0bzy3kJabXjLdn3iPJEtc59KTJeXkfqg2uQtgaiIRS-0.1.0-probe.json` and `2016-04-22/20160421T054046Z-GB-AS21260-tcp_connect-HMHEzish2yMQ04XuDzGb2sjfZlfcZ26jLWxxuMMSoO17b3Dqee5jvgquDZAUma0h-0.1.0-probe.json` are accessible as `https://api.ooni.io/files/download/....yaml`
E.g. `https://api.ooni.io/files/download/2016-04-22/20160

[2019-05-30 17:48] darkk commented on #88
Sanitized / benign mismatches story is stopped as "good enough".

Partial bucket processing is done.

Few more outliers those may be useful for testing are:

- 2014-11-23 that also has high number (~1M) of measurements
- 2016-04-01 that has high number of distinct report files
- 2018-06-01 that has `badblob`
- [precise bucket forgotten] LZ4 frame with no `datum`, so it's not accounted in `measurem

[2019-05-31 12:41] #89 closed, assigned to nobody

[2019-05-31 13:48] darkk opened #199 "Reduce the latency of publication of uploaded measurement to less than daily"
To reduce publication period from current 24h to something like 15m following _may_ be done:

- update collector to rename reports to outgoing spool more often than once per 24h (the original reason for separation of "ready" and "outgoing" spools may also be questioned)
- re-archive the freshest `canned` file in the current bucket as new reports come in (extending the freshest file if needed, upda

[2019-06-05 11:25] hellais opened #202 "Ingest new metadata produced by new set of tests"
This is a master ticket for all feature extractors related to current and future tests:

* [x] Add support for extracting features related to IM tests #200
* [x] Add support for extracting middlebox test features #201
* [x] Document writing feature extractors for new tests #133

[2019-07-05 14:55] FedericoCeratto commented on #184
Huawei Eudemon1000E-X3 sets an interesting cookie:
"SESSIONID=IgAAAFIgu6YUVZGubWCrElQOqSzUcic97PhDorW6XEY=&IgAAAFIgu6YUVZGubWCrEg==&Huawei Eudemon1000E-X3&langfrombrows=&copyright=2010-2013"

[2019-07-05 21:40] anadahz commented on #184
"SESSIONID=IgAAAFIgu6YUVZGubWCrElQOqSzUcic97PhDorW6XEY=&IgAAAFIgu6YUVZGubWCrEg==&Huawei Eudemon1000E-X3&langfrombrows=&copyright=2010-2013"

@FedericoCeratto I may miss something what is interesting with this cookie?

[2019-08-16 13:05] hellais opened #214 "Confirmed flag is not getting set properly"
It appears that the `confirmed` flag is not getting properly set on measurements since at least june 2019.

I noticed this because the OONI Explorer visualisations based on the `ooexpl_wc_confirmed` table show all sites as green (as reported by @agrabeli)

Querying the `ooexpl_wc_confirmed` table I can see that:
[code]
`2019-07-03`

So it's broken since at least that date.

Moreover running this q

[2019-08-27 00:06] anadahz opened #217 "Add blockpage fingerprints for SD"
Adds a list of blockpage fingerprints for Sudan.

#### tag: `gateprotect`
Example measurements:
https://explorer.ooni.io/measurement/20181223T053338Z_AS37211_SNSyW5GQvxWDuQ2tQpJNZKqK5IyQFfXAVgTQynYjVzUvZn2FDK?input=http:%2F%2Fwww.bglad.com

https://explorer.ooni.io/measurement/20181223T053541Z_AS37211_Vjr633mrbpd5UwOkZXid7U8QnwdDILnDu63UTFd1gE7zR4gnhN

---

#### tag: `netsweeper`
Example measureme

[2019-09-02 14:59] hellais commented on #214
A fix for this has been rolled out and the backfilling process converged. I am closing this.

[2019-09-02 14:59] #214 closed, assigned to FedericoCeratto

[2019-09-12 22:01] anadahz opened #223 "Add blockpage fingerprints for HU"
Blockpage fingerprints for Hungary.

Example measurement:
https://explorer.ooni.org/measurement/20190905T104808Z_AS50261_Y03a7meiLbuSNLjxa55pvOAYug9r0yjsFjlmfe64MzbDuGJ2UM?input=http://www.realbeer.com/
Tag: `synology`

---

Example measurement:
https://explorer.ooni.org/measurement/20190904T091911Z_AS1955_V5wcmlVrMPVZzi9sQcgAiopUjZr8umfv8XY3zHY8rOQvbTssHU?input=http://guardster.com/

[2019-09-12 22:33] anadahz opened #224 "Add blockpage fingerprint for PL"
Blockpage fingerprints for Poland.

Example measurement: https://explorer.ooni.org/measurement/20190911T110527Z_AS6830_kkm1ZGUCJI4dSrRV4xl6QwG77o7EeI2PDKbwt9SPL9BBJHUsTr?input=http://www.eurogrand.com/
Tag: `http://www.finanse.mf.gov.pl/inne-podatki/podatek-od-gier-gry-hazardowe/komunikat`

---

Example measurement: https://explorer.ooni.org/measurement/20190911T110527Z_AS6830_kkm1ZGUCJI4dSrRV4xl6

[2019-09-12 22:53] anadahz opened #225 "Add blockpage fingerprints for PT"
Blockpage fingerprints for PT.

Example measurement: https://explorer.ooni.org/measurement/20190911T103335Z_AS2860_4aKH0micNlcrjnWcRknF9ghAykfMdxMkWGhXWracX2FIBY6UQb?input=http://www.roxypalace.com/
Tag: `Bloqueado por ordem judicial`

---
Example measurement: https://explorer.ooni.org/measurement/20180910T235247Z_AS3243_LpUldhcfbVGUIyfOxF6TFfLNT1wSAMwHy54LBz6owWe0cofJIK?input=http://www.luckynugg

[2019-10-04 11:11] hellais opened #229 "Implement event detector which generates RSS feed"
This is a macro-issue to track work being done on the RSS feed event detector engine.

[2019-10-04 11:24] hellais commented on #229
xref: https://github.com/ooni/pipeline/issues/230

[2019-10-04 11:26] hellais commented on #229
xref: https://github.com/ooni/spec/issues/144 & https://github.com/ooni/spec/issues/145

[2019-10-07 13:01] hellais commented on #229
We currently have a deployed event engine on fastpath.ooni.io. There is a web server running which exposes some sample charts and RSS feed, which we need to do some fine-tuning for (see: https://github.com/ooni/pipeline/issues/230).

The analysis is done for tuples of `(probe_cc, input)` and `(probe_cc, probe_asn, input)`.

In https://github.com/ooni/pipeline/issues/230#issue-502578757 are documen

[2019-10-07 14:37] FedericoCeratto commented on #229
The event detector isolates time periods where a service is blocked or non blocked. The green and red bars mark the beginning and end of blocking.
![Example](https://screenshotscdn.firefoxusercontent.com/images/1fb59ff4-32aa-4643-a2de-976fa615f074.png)
The detection is based on heuristics and it's meant to run on real time data as well as on historical data. We will keep refining the detection par

[2019-10-07 18:51] bassosimone opened #239 "Write normalization for data_format_version 0.2.1"
As documented in https://github.com/ooni/probe-engine/issues/86, we've recently determined with Arturo to move the resolver_ip as top-level, because it is more logical and it simplifies our implementation of the Go code. This issue is about me going to add a normalisation step to the pipeline (a few lines of code actually) that resets the data_format_version to 0.2.0 and moves this field back into

[2019-10-31 16:20] anadahz commented on #225
A middlebox/blockpage fingerprint.
Example measurement: https://explorer.ooni.org/measurement/20190411T192031Z_AS12353_JcA0e4AwUYYzR8aSXkoOiPGSiSmG8naeMOYnOPisECTr5bqelw
Tag: `AdGuard`

[2019-10-31 17:32] hellais commented on #202
We have concluded that this is going to be done inside of the fastpath, work for this has been done in the following PRs and branches:
https://github.com/ooni/pipeline/pull/243
https://github.com/ooni/pipeline/pull/242

cc @FedericoCeratto

[2019-11-18 16:04] hellais commented on #76
I would say that by some definition of done this is done.

I say @FedericoCeratto you should take a read through this to see if there is any useful information and once you have done so close this.

[2019-11-18 16:26] hellais commented on #109
This is done.

[2019-11-18 16:26] #109 closed, assigned to darkk

[2019-11-19 13:58] #32 closed, assigned to nobody

[2019-11-19 13:58] #33 closed, assigned to nobody

[2019-11-19 13:58] hellais commented on #33
This is to some extent done. @bassosimone maybe there is some knowledge to be moved elsewhere.

[2019-11-19 14:01] #49 closed, assigned to darkk

[2019-11-19 14:04] hellais commented on #60
We don't resolve AS names anymore in explorer, closing.

[2019-11-19 14:04] #60 closed, assigned to nobody

[2019-11-19 14:06] hellais commented on #63
This is superseeded by https://github.com/ooni/explorer/issues/213

[2019-11-19 14:06] #63 closed, assigned to nobody

[2019-11-19 14:07] #72 closed, assigned to nobody

[2019-11-19 14:08] #73 closed, assigned to nobody

[2019-11-19 14:08] #75 closed, assigned to nobody

[2019-11-19 14:10] #86 closed, assigned to nobody

[2019-11-19 14:11] #88 closed, assigned to nobody

[2019-11-19 14:14] #103 closed, assigned to nobody

[2019-11-19 14:15] #110 closed, assigned to nobody

[2019-11-19 14:20] hellais commented on #119
We have added the missing values to the ENUM. Closing.

[2019-11-19 14:20] #119 closed, assigned to nobody

[2019-11-19 14:21] #148 closed, assigned to nobody

[2019-11-21 14:14] bassosimone commented on #239
@FedericoCeratto suggested to take another approach. For starters, bump the data format to v0.3.0 because moving a field is actually a breaking change (see #163). Then he also suggested to make sure the pipeline and fastpath code both deal with the rename field (see https://github.com/ooni/pipeline/issues/254). I am going to close this issue since we have determined that we have a better plan.

[2019-11-21 14:14] #239 closed, assigned to bassosimone

[2019-11-22 16:24] hellais commented on #202
This is done.

[2019-11-22 16:24] #202 closed, assigned to nobody

[2019-11-22 16:26] hellais commented on #199
This has been done and is just waiting deployment: https://github.com/ooni/sysadmin/issues/394

[2019-11-22 16:26] #199 closed, assigned to FedericoCeratto

[2019-11-22 16:33] hellais commented on #229
Superseeded by: https://github.com/ooni/pipeline/issues/262

[2019-11-22 16:33] #229 closed, assigned to nobody

[2019-11-22 17:30] hellais opened #263 "Discuss and do some exploration for data analysis needed by research reports"
This can also involve looking at:
https://github.com/ooni/pipeline/issues/61
https://github.com/ooni/pipeline/issues/45
https://github.com/ooni/pipeline/issues/46

and is a direct requirement to completing:
https://github.com/ooni/pipeline/issues/260
& https://github.com/ooni/pipeline/issues/261

[2019-11-25 13:55] FedericoCeratto opened #265 "Resolve the collector disk space issue"
Collectors can reach disk space limits especially due to the uploads from legacy probes over Tor.

Historical data: https://mon.ooni.nu/grafana/d/AE8tFfxWk/collectors-disk-activity?orgId=1&from=1573488209215&to=1574697809215

Actions done:
-  [x] Running archiving script every hour
- [x] Set up onion services on every collector

What we are going to do:
* [x] Deploy 2 new hosts with 200GB disks to

[2019-11-25 17:52] hellais commented on #265
Another thing that we should also not forget to look into is the reason why at some point we had a flatline in measurement data:

![Screenshot 2019-11-25 at 18 51 09](https://user-images.githubusercontent.com/424620/69565157-a67d9780-0fb4-11ea-95e1-d0cd30265d39.png)

The hypothesis is that it may have something to with the onion service collector not running properly.

[2019-11-25 17:56] hellais commented on #265
These two:
* Improve monitoring around space usage and failed pipeline run and point to the pipeline handbook
*  Detect if we are receiving too few or too much data per hour

Have been moved into: https://github.com/ooni/sysadmin/issues/399

[2019-11-26 17:10] hellais commented on #265
I have deployed two new hosts for this (`ams-ps2.ooni.nu` & `mia-ps2.ooni.nu` both with 200GB storage) and updated the bouncer config to:
[code]

[2019-12-02 12:03] hellais commented on #265
I moved the two other items in the checklist to another issue as they are not so urgent and are also somewhat bigger tasks.

I think this issue can now be closed.

[2019-12-02 12:03] #265 closed, assigned to FedericoCeratto, hellais

[2019-12-10 15:26] FedericoCeratto commented on #263
I've spent few hours experimenting with:
1) Importing categories from input JSON files into the database
1.1) ...same, plus extracting the historical changes to the files using git history
2) modify the event detector webapp to add an "olap-like" query to slice data cubes

[2019-12-10 17:10] hellais opened #273 "Move ooni-data-private into ooni-data"
What needs to happen is:

* [x] Update the pipeline to publish data in ooni-data instead of ooni-data-private (see: https://github.com/ooni/sysadmin/pull/409)
* [x] Wait for the pipeline to tick one day and verify that data is getting written properly
* [x] Copy all the data from ooni-data-private into ooni-data
* [x] Delete the original data from ooni-data-private

This is related to openly publi

[2019-12-10 17:12] hellais commented on #273
@nullhypothesis is looking to check if in fact it is OK to public the very old bridge IP addresses and if so we can move forward with the migration of the data.

We would like to complete this task within the week or two.

[2019-12-11 17:15] NullHypothesis commented on #273
The only bridges that were still online when I checked the list were Linus's former obfs3 default bridges. We emailed Linus and he's ok with this data being published. I would say let's move forward with this!

[2019-12-12 13:41] hellais commented on #273
Excellent, thanks for following up. I will add a checklist of what we need to do in the issue description.

[2019-12-20 17:28] hellais commented on #273
I have started this today at around 16:00 Rome time:

[code]

After 2:30h, we are at:
[code]

It will take a while...

[2019-12-23 10:30] hellais commented on #273
... and 3 days later:

[code]

Getting there...

[2019-12-23 17:57] hellais commented on #263
We have created the citizenlab table which includes the category codes necessary for the creation of research reports.

This can be considered done in the previous cycle.

[2019-12-23 17:57] #263 closed, assigned to FedericoCeratto, agrabeli

[2019-12-24 14:28] hellais commented on #273
This was actually already tracked in: https://github.com/ooni/sysadmin/issues/395.

[2019-12-24 14:29] hellais commented on #273
The copy is finished. As a sanity check before dropping everything I am doing:

[code]

and checking the two outputs for consistency as an extra safety check.

[2019-12-24 15:48] hellais commented on #273
Here is the result of the sanity check: https://gist.github.com/hellais/9fccb101d415839ad177957083fd1f6c.

As we can see only files from the most recent buckets are the difference between the two. I am going to proceed with deleting the data at the source.

[2019-12-24 16:20] hellais commented on #273
The files in ooni-data-private have all been deleted. The ec2 host used for the sync and deletion has been terminated.

All the OONI data is now public!

[2019-12-24 16:20] #273 closed, assigned to hellais

[2020-01-07 17:44] #90 closed, assigned to nobody

[2020-01-16 15:55] hellais commented on #76
I am closing this issue.

[2020-01-16 15:55] #76 closed, assigned to darkk

[2020-01-29 11:21] hellais commented on #25
@anadahz I cannot find the measurement you link to in: https://github.com/ooni/pipeline/issues/25#issue-154919607. @FedericoCeratto do you know what may be causing this?

[2020-01-29 13:21] #66 closed, assigned to nobody

[2020-01-29 13:22] hellais commented on #25
Added these to: https://github.com/ooni/pipeline/pull/289

[2020-01-29 13:22] #25 closed, assigned to nobody

[2020-01-29 13:22] hellais commented on #35
Added these to: https://github.com/ooni/pipeline/pull/289

[2020-01-29 13:22] hellais commented on #35
Added these to: https://github.com/ooni/pipeline/pull/289

[2020-01-29 13:22] #35 closed, assigned to nobody

[2020-01-29 13:22] hellais commented on #26
Added to: https://github.com/ooni/pipeline/pull/289

[2020-01-29 13:22] #26 closed, assigned to nobody

[2020-01-29 13:26] hellais commented on #82
Added to: https://github.com/ooni/pipeline/pull/289

[2020-01-29 13:26] #82 closed, assigned to nobody

[2020-01-29 13:44] hellais commented on #115
Added these in: https://github.com/ooni/pipeline/pull/289

[2020-01-29 13:44] #115 closed, assigned to nobody

[2020-01-29 13:48] hellais commented on #121
Added these to: https://github.com/ooni/pipeline/pull/289

[2020-01-29 13:48] #121 closed, assigned to nobody

[2020-01-29 13:53] hellais commented on #122
Added this to: https://github.com/ooni/pipeline/pull/289

[2020-01-29 13:53] #122 closed, assigned to nobody

[2020-01-29 13:54] hellais commented on #131
Added this to: https://github.com/ooni/pipeline/pull/289

[2020-01-29 13:54] #131 closed, assigned to nobody

[2020-01-29 14:15] hellais commented on #155
Added to https://github.com/ooni/pipeline/pull/289/files

[2020-01-29 14:15] #155 closed, assigned to nobody

[2020-01-29 14:18] hellais commented on #156
Added this to: https://github.com/ooni/pipeline/pull/289/files

[2020-01-29 14:18] #156 closed, assigned to nobody

[2020-01-29 14:25] hellais commented on #117
Added this fingerprint to: https://github.com/ooni/pipeline/pull/289

[2020-01-29 14:25] #117 closed, assigned to nobody

[2020-01-29 14:44] hellais commented on #158
done: https://github.com/ooni/pipeline/pull/289

[2020-01-29 14:44] #158 closed, assigned to nobody

[2020-01-29 14:46] hellais commented on #157
Added to: https://github.com/ooni/pipeline/pull/289

[2020-01-29 14:46] #157 closed, assigned to nobody

[2020-01-30 14:38] hellais commented on #159
Added in #289

[2020-01-30 14:38] #159 closed, assigned to nobody

[2020-01-30 14:40] hellais commented on #160
Added in #289

[2020-01-30 14:40] #160 closed, assigned to nobody

[2020-01-30 14:43] hellais commented on #161
Added to #289

[2020-01-30 14:43] #161 closed, assigned to nobody

[2020-01-30 14:57] hellais commented on #168
Added in #289

[2020-01-30 14:57] #168 closed, assigned to nobody

[2020-02-12 14:47] hellais commented on #163
Added in #289

[2020-02-12 14:47] #163 closed, assigned to nobody

[2020-02-12 14:53] hellais commented on #169
Added in #289

[2020-02-12 14:53] #169 closed, assigned to nobody

[2020-02-12 14:55] hellais commented on #170
Added in #289

[2020-02-12 14:55] #170 closed, assigned to nobody

[2020-02-12 16:37] hellais commented on #171
These have been added to #289

[2020-02-12 16:37] #171 closed, assigned to nobody

[2020-02-12 16:38] hellais commented on #172
Added in #289

[2020-02-12 16:38] #172 closed, assigned to nobody

[2020-02-12 16:40] hellais commented on #173
This is not caused by censorship, but is rather that the domain has gotten squatted.

[2020-02-12 16:40] #173 closed, assigned to nobody

[2020-02-12 16:42] hellais commented on #174
Thanks! Added to #289

[2020-02-12 16:42] #174 closed, assigned to nobody

[2020-02-12 16:45] hellais commented on #167
Thanks! Added to #289

[2020-02-12 16:45] #167 closed, assigned to nobody

[2020-02-12 16:49] hellais commented on #178
Thanks! Added to #289

[2020-02-12 16:49] #178 closed, assigned to nobody

[2020-02-12 16:52] hellais commented on #179
Thanks! Added to #289

[2020-02-12 16:52] #179 closed, assigned to nobody

[2020-02-12 16:58] hellais commented on #180
Thanks added them to #289.

The last one:

Is not actually a blockpage, but is the weird redirect behaviour of pornhub.com

[2020-02-12 16:58] #180 closed, assigned to nobody

[2020-02-12 17:01] hellais commented on #181
Thanks! Added to #289

[2020-02-12 17:01] #181 closed, assigned to nobody

[2020-02-12 17:02] hellais commented on #182
Thanks! Added to #289

[2020-02-12 17:02] #182 closed, assigned to nobody

[2020-02-12 17:04] hellais commented on #184
Thanks! Added to #289

[2020-02-12 17:04] #184 closed, assigned to nobody

[2020-02-12 17:07] hellais commented on #186
Thanks! Added to #289

[2020-02-12 17:07] #186 closed, assigned to nobody

[2020-02-12 17:09] hellais commented on #187
Thanks! Added to #289.

[2020-02-12 17:09] #187 closed, assigned to nobody

[2020-02-13 00:44] anadahz commented on #173
Isn't this ISP dependent?
IIUC the control measurement is not presenting the same URL.

[2020-02-13 09:09] hellais commented on #173
Yeah it's probably dependent on the origin IP, but it's most likely server-side, not implemented by the ISP.

When I access that site from my network (Vodafone italia), I also get on some weird redirect chain which leads to some spammy/malwary websites. It's very common for popular domains to get squatted and then to put on it some malware or ads.

[2020-02-14 09:16] hellais commented on #188
Added to #289

[2020-02-14 09:16] #188 closed, assigned to nobody

[2020-02-14 09:18] hellais commented on #190
Thanks!

Added to #289

[2020-02-14 09:18] #190 closed, assigned to nobody

[2020-02-14 09:19] hellais commented on #191
Thanks!

Added to #289

[2020-02-14 09:19] #191 closed, assigned to nobody

[2020-02-14 09:26] hellais commented on #193
Added to #289. Thanks!

[2020-02-14 09:26] #193 closed, assigned to nobody

[2020-02-14 09:29] hellais commented on #194
I should note that the second look actually like a captive portal-ish type site saying:

Thanks! Added to #289

[2020-02-14 09:29] #194 closed, assigned to nobody

[2020-02-14 09:30] hellais commented on #195
Thanks! Added to #289

[2020-02-14 09:30] #195 closed, assigned to nobody

[2020-02-14 09:33] hellais commented on #196
Thanks! Added to #289

[2020-02-14 09:33] #196 closed, assigned to nobody

[2020-02-14 09:37] hellais commented on #217
Thanks! Added to #289

[2020-02-14 09:37] #217 closed, assigned to nobody

[2020-02-14 09:40] hellais commented on #223
Thanks! Added to #289

[2020-02-14 09:40] #223 closed, assigned to nobody

[2020-02-14 09:53] hellais commented on #224
Thanks added to #289.

The one tagged Palo alto networks looks the same as the first one though.

[2020-02-14 09:53] #224 closed, assigned to nobody

[2020-02-14 09:56] hellais commented on #225
Thanks added to #289

[2020-02-14 09:56] #225 closed, assigned to nobody

[2021-06-17 08:23] #125 closed, assigned to nobody

[2022-05-03 14:55] hellais opened #383 "Please don't open issues in ooni/pipeline (use ooni/backend)"
Use [ooni/backend](https://github.com/ooni/backend) instead

[2022-09-28 12:48] agrabeli commented on #383
(lol)